@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

.menu-list {
    list-style: none;

    li {
        display: inline-block;
        padding: 0 5px;
    }
}