main {
    padding: 50px 0;
    background-color: #1c1c1c;

    .container {

        .title {
            h1 {
                color: $bg-theme;
                font-size: 50px;
                text-transform: uppercase;
            }
            
            p {
                margin: 100px 0 25px;
                font-size: 32px;
                color: white;
            }

            a {
                padding: 10px 20px;
                text-transform: uppercase;
                color: white;
                background-color: $bg-theme;
                border-radius: 10px;
            }
        }
        
    
        img {
            width: 30%;
        }
    }

}